body {
  font-family: Arial, Helvetica, sans-serif;
  
}

#choices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

#playerDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
#computerDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

#resultsDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

button {
  height: 50px;
  width: 90px;
  margin: 10px;
}

.greenText {
  color: green;
}

.redText {
  color: red;
}

img {
  height: 50px;
  width: auto;
}

@media (max-width: 768px) {
  h1, #playerDisplay, #computerDisplay, #resultsDisplay {
    font-size: 2rem; /* Smaller font size */
  }

  button {
    height: 60px; /* Larger buttons for easier interaction */
    width: 100%; /* Full width for better use of space */
    margin: 5px 0; /* Adjust margin for stacked layout */
  }

  #choices {
    flex-direction: column; /* Stack buttons vertically */
  }
}